* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "OpenSans-bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
  }
  
  @font-face {
    font-family: "OpenSans-regular";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
  }
  
  .popup_wrapper {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
    visibility: hidden;
  }

  .popup_close {
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-x.svg");
    position: relative;
    top: -310px;
    left: 390px; 
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
  
    position: absolute;
    top: -30px;
    right: 0;  
  }
  
  .popup__close:before, .popup__close:after {
    width: 1.4em;
    height: 0.2em;
  }

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup_form {
    display: flex;
    width: 390px;
    height: 590px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    
  }

  .h2-popup {
    display: flex;
    justify-content: center;
    padding-top: 52px;
    position: relative; 
  }

  .h2-popup::after {
    content: " ______ ";
    font-size: 35px;
    color: #b69f5b;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 25%;
    line-height: 22px
}

.popup_feed {
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 13px;
  left: 40%;
  margin-top: 20px;
  width: 330px;
  display: flex;
  justify-content: flex-start;
}

.popup_select {
  width: 330px;
  height: 48px;
  margin-top: 5px;
  padding: 15px;
  border: 2px solid #f5f7f6;
  background-color: #f5f7f6;
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 12px;
  opacity: 0.6;
}

.popup_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 3%;
}

.popup_mail {
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 13px;
  left: 40%;
  margin-top:30px;
  width: 330px;
  display: flex;
  justify-content: flex-start;
}

.radio_row {
  width: 330px;
  display: flex;
  flex-direction: row;
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

.radio_mail {
  display: flex;
  margin-right: 25px;
}

.radio_text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.radio_mail_select:checked + .radio_text::before {
  background-image: url("../svg/form-circle.svg")
}

.radio_mail_select {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: (1px 1px 1px 1px);
}

.content {
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 13px;
  left: 40%;
  margin-top: 30px;
  width: 330px;
  display: flex;
  justify-content: flex-start;
}

.text {
  background-color: #f5f7f6;
  border: 2px solid #f5f7f6;
  width: 330px;
  min-height: 130px;
}

.button-send {
  display: block;
  width: 330px;
  height: 50px;
  margin-top: 16px;
  margin-bottom: 52px;
  box-sizing: border-box;
  border: 2px solid #b69f5b;
  background-color: #b69f5b;
  font-family: 'OpenSans-regular', sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-send:hover {
  cursor: pointer;
}
  
  .header {
    background-image: url("../img/banner-bg.jpg");
    z-index: 0;
    width: 100%;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1
  }
  
  .header-logo-menu {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
  }
  
  .logo {
    padding-top: 26px;
  }
  
  .img-logo {
    width: 180px;
  }
  
  .menu-link {
    text-decoration: none;
    font-family: inherit;
    font-size: 13px;
    font-style: normal;
    color: #fff;
  }
  
  .menu {
    padding-top: 41px;
  }
  
  .menu-item {
    list-style-type: none;
    display: flex;
    gap: 35px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12.5px;
    font-family: 'OpenSans-regular', sans-serif;
  }

 
  .in_trend_title {
    padding-top: 56px;
    margin-bottom: 58px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 13px;
    font-family: 'OpenSans-regular', sans-serif;
  }
  
  .in_trend_title::after {
      content: " _____ ";
      font-size: 35px;
      color: #b69f5b;
      opacity: 1;
      position: absolute;
      top: 70px;
      left: 46v;
      line-height: 15px
  }

  
  .in_trend_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
    
  }

  .in_trend_card_discription {
    border: 3px solid #b69f5b;
    padding-left: 38px;
    padding-right: 35px;
    padding-top: 40px;
    margin-top: 20px;
  }
  
  .in_trend_card_one {
    background-image: url("../img/trend1.jpg");
    z-index: 0;
    width: 24.8%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 5px;
  }
  
  .in_trend_card_one:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1
  }

  .discription-trend {
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-family: "OpenSans-bold", sans-serif;
  }

  .h2-trend {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 10px;
  }

  .in_trend_card_two {
    background-image: url("../img/trend2.jpg");
    z-index: 0;
    width: 24.8%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 5px;
  }
  
  .in_trend_card_two:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1
  }

  .in_trend_card_three {
    background-image: url("../img/trend3.jpg");
    z-index: 0;
    width: 24.8%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 5px;
  }
  
  .in_trend_card_three:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1
  }

  .in_trend_card_four {
    background-image: url("../img/trend4.jpg");
    z-index: 0;
    width: 24.8%;
    min-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 5px;
  }
  
  .in_trend_card_four:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1
  }

  .main {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    padding-top:0
  }
  
  .main-title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 45px;
    width: 700px;
    line-height: 75px;
    display: flex;
    margin: auto;
    font-family: "OpenSans-bold";
  }
  
  .main-area {
    max-width: 1200px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .news-main {
    display: flex;
    flex-direction: column;
  }
  
  .image-news {
    display: flex;
    flex-direction: column;
  }
  
  .img-news {
    width: 381px;
    height: 295px;
  }
  
  .img-post {
    width: 70px;
    height: 70px;
  }
  
  .discription {
    display: flex;
    flex-direction: column;
    width: 367px;
    min-height: 290px;
    margin-left: 30px;
  }
  
  ul {
    text-decoration: none;
    color: #b59f5b;
  }
  
  h2 {
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 30px;
    font-family: "OpenSans-bold", sans-serif;
    line-height: 24px
  }
  
  .h2-title {
    text-decoration: none;
    color: #000000;
    font-size: 20.2px;
    line-height: 10px;
  }
  
  time {
    color: #949494;
    font-size: 13px;
    margin-right: 8px;
    font-family: 'OpenSans-regular', sans-serif;
  }
  
  p {
    font-size: 15px;
    line-height: 22px;
    font-family: "OpenSans-regular", sans-serif;
  }
  
  .paragraff-height-line {
    margin-bottom: 10px;
  }
  
  .discription-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-family: "OpenSans-bold", sans-serif;
  }
  
  .discription-date-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 45px;
  }
  
  .unknown {
    font-family: "OpenSans-bold", sans-serif;
    font-size: 13px;
  }
  
  .news:nth-child(1n+2) {
    margin-top: 50px;
  }
  
  .news_one {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  }
  
  .news_two {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  } 
  
  .news_three {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  } 
  
  .news_four {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  } 
  
  .news_five {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  } 
  
  .news_six {
    display: flex;
    flex-direction: row;
    margin-bottom: 65px;
  } 
  
  .news_seven {
    display: flex;
    flex-direction: row;
  } 
  
  .aside-container {
    width: 272px;
    min-height: 1424px;
  }
  
  h3 {
    font-family: "OpenSans-bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
  }
  
  .image-news {
    width: 380px;
    height: 290px;
  }
  
  .image-post {
    max-width: 70px;
    max-height: 70px;
  }
  
  .post {
    display: flex;
    flex-direction: row;
    margin-top: 21px;
  }
  
  .posts {
    display: flex;
    flex-direction: column; 
    
  }
  
  .posts-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .theme-title {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "OpenSans-bold", sans-serif;
    line-height: 18px
  }
  
  .posts-text {
    line-height: 16px;
  }
  
  .posts-date {
    font-size: 11px;
    margin-bottom: 2px;
  }
  
  .posts-title {
    margin-bottom: 18px;
    position: relative; 
    display: flex;
    justify-content: center;
    
  }
  
  .posts-title::after {
      content: " ____ ";
      font-size: 35px;
      color: #b69f5b;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 100px;
      line-height: 22px
  }
  
  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
  }
  
  .search {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .field-search-group {
      width: 222px;
      height: 50px;
      padding: 20px;
      box-sizing: border-box;
      vertical-align: middle;
      border: 2px solid #f5f7f6;
      background-color: #f5f7f6;
      font-family: 'OpenSans-regular', sans-serif;
      font-size: 13px;
      opacity: 0.6;
  }
  
  .search-button {
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      top: 0;
      right: 0;
      border: 2px solid #b69f5b;
      background-color: #b69f5b;
      background-image: url(../svg/search.svg);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center center;
  }
  
  .form-group {
    margin-top: 32px;
  }
    
  .field-email-address {
      width: 100%;
      height: 50px;
      padding: 20px;
      box-sizing: border-box;
      vertical-align: middle;
      border: 2px solid #f5f7f6;
      background-color: #f5f7f6;
      font-family: 'OpenSans-regular', sans-serif;
      font-size: 13px;
      opacity: 0.6;
  }
  
  .button-submit {
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 16px;
      margin-bottom: 52px;
      box-sizing: border-box;
      border: 2px solid #b69f5b;
      background-color: #b69f5b;
      font-family: 'OpenSans-regular', sans-serif;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
  }
  
  .tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 55px;
      flex-direction: column;
      justify-content: center;
  }
  
  .tags-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-family: "OpenSans-bold", sans-serif;
    margin-top: 15px;
  }
  
  .tags-item {
    display: flex;
    border: 2px solid #f5f7f6;
    padding: 6px 14px;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }
  
  .categories-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    font-size: 12px;
    font-family: "OpenSans-bold", sans-serif;
    display: flex;
    height: 48px;
    align-items: center; 
  }
  
  .categories-item {
    display: block;
    padding-top: 10px;
    padding-bottom: 11px;
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
  }
  

  .categories-number {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #b69f5b;
    padding-bottom: 8px
  }

  .our_products {
    display: flex;
    flex-direction: column;
  }

  .our_products_title {
    padding-top: 0px;
    margin-bottom: 58px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 13px;
    font-family: 'OpenSans-regular', sans-serif;
  }

  .our_products_title::after {
    content: " _____ ";
    font-size: 35px;
    color: #b69f5b;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 46v;
    line-height: 15px
}

  .our_products_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 10px;
    justify-content: space-between;
  }

  .our_products_card_one {
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }

  .our_products_img_one {
    background-image: url(../img/shop-item-desk1.jpg);
    width: 300px;
    min-height: 205px;
  }

  .our_products_card_two {
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    padding-top: 5px;
  }

  .our_products_img_two {
    background-image: url(../img/shop-item-desk2.jpg);
    width: 300px;
    min-height: 205px;
  }

  .our_products_card_three {
    width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 5px;   
  }

  .our_products_img_three {
    background-image: url(../img/shop-item-desk3.jpg);
    width: 300px;
    min-height: 205px;
  }

  .our_products_border {
    box-sizing: border-box;
    border: 3px solid #b69f5b;
    width: 345px;
    min-height: 267px;
    margin-top: -25px;
    padding: 45px 22px 30px 22px;
    font-size: 13px;
    font-family: 'OpenSans-regular', sans-serif;
  }

  .reklama {
    text-decoration: none;
    color: #b69f5b;
    font-size: 15px;
    line-height: 10px;
  }

  .button-shop {
    height: 50px;
    width: 140px;
    margin-top: 16px;
    margin-bottom: 52px;
    box-sizing: border-box;
    border: 2px solid #b69f5b;
    background-color: #b69f5b;
    font-family: 'OpenSans-regular', sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.h2-shop {
  text-transform: uppercase;
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: "OpenSans-bold", sans-serif;
  line-height: 24px
}

.buying {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.price {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: "OpenSans-bold", sans-serif;
  line-height: 15px;
  padding-top: 20px;
  justify-content: center;
}

.product_price_high {
  font-size: 15px;
  font-family: "OpenSans-bold", sans-serif;
}

  .h2-products {
    text-decoration: none;
    color: #ffffff;
    font-size: 20.2px;
    line-height: 10px;
  }
 
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
  .footer {
    max-width: 1200px;
    width: 100%;
    height: 83px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f5f7f6;
    background-clip: content-box;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 10px;
  }
  
  .socials-link {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
  }
  
  .socials-link-twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  
  .socials-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .socials-link-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  
  .socials-link-instagram {
    background-image: url(../svg/005-instagram.svg);
  }
  
  .socials-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .socials-item:nth-child(n+2) {
    margin-left: 25px;
  }
  
  .copyright-footer {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    display: flex;
    text-align: center; 
    text-decoration: none;
    font-family: 'OpenSans-regular', sans-serif;
    margin-top: 75px;
    margin-bottom: 30px;
  }
  
@media (max-width: 768px) and (min-width: 360px) {

.menu {
  visibility: hidden;
}

.main-title {
  font-size: 45px;
}

.in_trend_title {
  padding-top: 30px;
  max-height: 80px;
}

.in_trend_title::after {
  top: 40px;
}

.in_trend_card_one {
  width: 49.8%;
  min-height: 247px;
}

.in_trend_card_two {
  width: 49.8%;
  min-height: 247px;
}

.in_trend_card_three {
  width: 49.8%;
  min-height: 247px;
}

.in_trend_card_four {
  width: 49.8%;
  min-height: 247px;
}

.header {
  background-image: url("../img/banner-bg-tablet.jpg");
  width: 100%;
  min-height: 390px;
}

.main-title {
  line-height: 55px;
  font-size: 40px;
  max-width: 650px;
}

.img-logo {
  width: 160px;
}

.logo {
  padding-top: 45px;
}

.header-logo-menu {
  padding-left: 36px;
  margin-bottom: 85px;
}

.main-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.news_one {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.news_two {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.news_three {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.news_four {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.news_five {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.discription {
  margin-top: 15px;
  margin-left: 0px;
}

.our_products_cards {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
}

.our_products_card_one {
  padding-top: 27px;    
}

.our_products_card_two {
  padding-top: 27px;    
}

.our_products_card_three {
  padding-top: 27px;    
}

.news-main {
  padding-right: 10px;
}

.burger-menu {
  position: absolute;
  width: 20px;
  height: 22px;
  top: 50px;
  right: 35px;
  background-image: url("../svg/burger-menu.svg");
  background-repeat: no-repeat;
}

.discription-date-name {
  margin-bottom: 35px;
}

.p_news::after {
  content: " ________________________ ";
    font-size: 35px;
    color: #c5c5c3;
    opacity: 1;
    
    top: 15px;
    left: 46v;
    line-height: 15px
}

.news_three {
  margin-bottom: 30px;
}

}

@media (max-width: 360px) {

  .menu {
    visibility: hidden;
  }
  
  
  .in_trend_title {
    padding-top: 30px;
    max-height: 80px;
  }
  
  .in_trend_title::after {
    top: 40px;
  }
  
  .in_trend_card_one {
    width: 100%;
    min-height: 247px;
  }
  
  .in_trend_card_two {
    width: 100%;
    min-height: 247px;
  }
  
  .in_trend_card_three {
    width: 100%;
    min-height: 247px;
  }
  
  .in_trend_card_four {
    width: 100%;
    min-height: 247px;
  }
  
  .header {
    background-image: url("../img/banner-mobile.jpg");
    width: 100%;
    min-height: 640px;
  }
  
  .main-title {
    line-height: 35px;
    font-size: 26px;
    max-width: 280px;
  }
  
  .img-logo {
    width: 270px;
  }
  
  .logo {
    padding-top: 225px;
    
  }
  
  .header-logo-menu {
    padding-left: 45px;
    margin-bottom: 35px;
  }
  
  .main-area {
    display: flex;
    flex-direction: column;  
  }
  
  .news_one {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    max-width: 330px;
  }
  
  .news_two {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-height: 560px;
  }
  
  .news_three {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    max-height: 560px;
  }
  
  .news_four {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-height: 560px;
  }
  
  .news_five {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    max-height: 560px;
  }
  
  .discription {
    margin-top: 15px;
    margin-left: 0px;
  }
   
  .our_products_card_one {
    padding-top: 27px;    
    max-width: 330px;
  }

  .our_products_img_one {
    max-width: 285px;
  }

  .our_products_img_two {
    max-width: 285px;
  }

  .our_products_img_three {
    max-width: 285px;
  }

  .our_products_border {
    max-width: 330px;
  }
  
  .our_products_card_two {
    padding-top: 27px;    
  }
  
  .our_products_card_three {
    padding-top: 27px;    
  }
  
  .news-main {
    padding-right: 15px;
    justify-content: space-between;
    
  }
  
  .burger-menu {
    position: absolute;
    width: 20px;
    height: 22px;
    top: 32px;
    right: 15px;
    background-image: url("../svg/burger-menu.svg");
    background-repeat: no-repeat;
  }

  .img-news {
    max-width: 330px;
  }

  .discription {
    max-width: 330px;
    max-height: 330px;
  }

  .discription-date-name {
    margin-bottom: 20px;
  }
  
  .p_news::after {
    content: " _____________________ ";
      font-size: 35px;
      color: #c5c5c3;
      opacity: 1;
      top: 15px;
      left: 46v;
      line-height: 15px
  }
    
  .posts {
    width: 330px;
  }

  .field-search-group {
    width: 280px;
  }

  .posts-title {
    width: 330px;
  }

  .posts-title::after {
    left: 130px;
  }

  .field-email-address {
    width: 330px;
  }

  .button-submit {
    width: 330px;
  }

  .our_products_title {
    margin-top: 40px;
  }

  .tags-item {
    margin-left: 3px;
  }

  .tags-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-device-width: 641px) and (max-device-width: 1200px) and (orientation : portrait){
  .in_trend_card_one {
    width: 49.5%;
  }

  .in_trend_card_two {
    width: 49.5%;
  }

  .in_trend_card_three {
    width: 49.5%;
}

  .in_trend_card_four {
    width: 49.5%;
}
}

@media screen and (min-device-width: 641px) and (max-device-width: 1200px) and (orientation : landscape){
  .in_trend_card_one {
    width: 24.5%;
  }

  .in_trend_card_two {
    width: 24.5%;
  }

  .in_trend_card_three {
    width: 24.5%;
}

  .in_trend_card_four {
    width: 24.5%;
}
}

@media screen and (min-device-width: 641px) and (max-device-width: 1200px) and (orientation : portrait){
  .in_trend_card_one {
    width: 49.5%;
  }

  .in_trend_card_two {
    width: 49.5%;
  }

  .in_trend_card_three {
    width: 49.5%;
}

  .in_trend_card_four {
    width: 49.5%;
}
}

@media screen and (max-device-width: 640px) and (orientation : landscape){
  .in_trend_card_one {
    width: 49.5%;
  }

  .in_trend_card_two {
    width: 49.5%;
  }

  .in_trend_card_three {
    width: 49.5%;
}

  .in_trend_card_four {
    width: 49.5%;
}
}

@media screen and (max-device-width: 640px) and (orientation : portrait){
  .in_trend_card_one {
    width: 100%;
  }

  .in_trend_card_two {
    width: 100%;
  }

  .in_trend_card_three {
    width: 100%;
}

  .in_trend_card_four {
    width: 100%;
}
}

